.image-container img {
  overflow: hidden;
}

.exo-yoga {
  display: flex;
}
.yoga-description {
  align-self: center;
  margin-bottom: 5rem;
}
.yoga-description ul {
  width: 130%;
}
.yoga-description ul li {
  font-size: 0.8rem;
  width: 65%;
}
.img-yoga {
  width: 35%;
  height: 30%;
  margin-right: 1.5rem;
}
.exercise-yoga-title {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}
p {
  word-break: break-word;
  padding: 0.5rem;
}

@media screen and (max-width: 640px) {
  .exo-yoga {
    display: block;
  }
  .yoga-description {
    display: block;
  }
  .descriptionExercise {
    font-size: 0.8rem;
    padding: 1rem;
    width: 100%;
  }
  .img-yoga {
    background-size: cover;
    width: 90%;
  }
  .exercise-yoga-title {
    font-size: 1rem;
    margin: 2rem auto 1rem;
  }
}
